﻿@using ShoeStore.Web.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoeStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoeStore.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a asp-action="Index" asp-controller="Home"  class="navbar-brand" >ShoesWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor04">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="nav-link active" >
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                    
                        @if (User.IsInRole(SD.RoleAdmin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Inventory
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Product" asp-action="ProductIndex">Product</a></li>
                                </ul>
                            </li>
                        }
                        
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#userModal">
                                <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Cart" asp-action="CartIndex">
                                <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
                            </a>
                        </li>
                    </ul>
                 
                </div>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main" class="w-100">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center">
            <a href="https://github.com/josue130" class="bi bi-github" target="_blank" style="margin-right:15px; font-size: 1.5rem;"></a>
            <a href="https://linkedin.com/in/josué-lópez-mendoza-b7990b242/" class="bi bi-linkedin" target="_blank" style="font-size: 1.5rem;"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_UserModal")

</body>
</html>
